@import 'src/scss/base';

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(-100% + 4px));
    padding: 4px 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: $white-color;
    z-index: 10;

    &.down {
        bottom: 0;
        transform: translateY(calc(100% - 4px));
        box-shadow: none;

        &.level-list {
            background-color: red;
        }
    }

    .level-list {
        border: 1px solid $color-gray-500;

        .level-item {
            padding: 6px 12px;
            .content {
                width: max-content;
                font-size: 14px;
            }
            &:hover {
                background-color: $color-gray-100;
            }
            &.active {
                background-color: rgba(58, 207, 248, 0.2);
            }
        }
    }
}
