@import '../../scss/base';

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 500px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background-color: $color-gray-100;
        padding: 20px;
        box-shadow: 0 0 10px 4px #bfbfbf;
        border-radius: 5px;

        .title {
            margin-bottom: 0.5em;
            color: $text-color-bold;
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.23;
        }
    }
}
