@import 'src/scss/base';

.wrapper {
    flex: 1;
    .container {
        display: flex;
        height: 100%;
        gap: 0 12px;
        .form-left {
            flex: 1;
            .text {
                resize: none;
                padding: 8px;
                caret-color: $color-blue;
                width: 100%;
                height: 100%;
                border: 1px solid $color-blue;
                outline: none;
            }
        }

        .form-right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .selectLevel {
                border: 1px solid $color-gray-500;
            }
            .btn-addTodo {
                border: 1px solid $color-blue;
                background-color: $color-blue;
                color: $white-color;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                padding: 4px 16px;
                cursor: pointer;
            }
        }
    }
}
