@import 'src/scss/base';

.wrapper {
    .title {
        color: $text-color-bold;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 3px;
        margin-top: 10px;
    }
    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 0 20px;
        .form-group {
            display: flex;
            align-items: center;
            padding-left: 11px;
            input {
                cursor: pointer;
            }
            .label {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                color: $color-gray-900;
                padding: 0 8px;
                cursor: pointer;
            }
        }
    }
}
