@import '../../../scss/base';

.wrapper {
    background-color: $white-color;
    width: 100%;
    height: $header-hight;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-blue;
    position: sticky;
    z-index: 10;

    &.dark {
        background-color: $black-color;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: $max-width;
        padding: 0 $padding-16;
        background-color: transparent;

        //logo
        .logo {
            display: flex;
            align-items: center;
            gap: 0 $gap-10;
            cursor: pointer;

            .logo-image {
                width: 40px;
                border-radius: 50%;
            }

            .logo-title {
                font-size: 2rem;
                font-weight: 700;
                color: $color-primary;

                .success {
                    color: $color-success;
                }
            }
        }

        //center
        .center-nav {
            display: flex;
            align-items: center;
            gap: 0 $gap-10;
        }
        //actions
        .actions {
            display: flex;
            align-items: center;
            gap: 0 $gap-10;

            .toggle-nav {
                display: none;
            }

            .action-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-light;
                color: $color-gray;
                width: 50px;
                height: 50px;
                cursor: pointer;

                &.dark {
                    background-color: $color-gray-800;
                    color: $color-gray-200;
                }

                &.user-avatar {
                    border-radius: 50%;
                }

                .icon-medium {
                    font-size: 30px;
                    color: currentColor;
                }
            }
        }
    }
}

//responsive
@include tablet {
    .wrapper {
        .container {
            //center
            .center-nav {
                position: absolute;
                top: $header-hight;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                z-index: -10;
                opacity: 1;
                border-bottom: 1px solid $color-blue;
                transition: all ease 0.5s;

                &.toggleNav {
                    top: calc(-100% - $header-hight - 100px);
                    opacity: 0;
                }
            }
            //actions
            .actions {
                .toggle-nav.tablet {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $color-light;
                    color: $color-gray;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;

                    &.dark {
                        background-color: $color-gray-800;
                        color: $color-gray-200;
                    }

                    .icon {
                        font-size: 30px;
                        color: currentColor;
                    }
                }
            }
        }
    }
}
