@import '../../../scss/base';

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 $gap-10;
    padding: 0 $padding-16;
    color: $text-color-normal;
    background-color: $color-white;
    cursor: pointer;

    &.dark {
        color: $color-gray-200;
        background-color: $black-color;
    }

    &.active {
        color: $color-blue;
    }

    .center-title {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    .center-arrow-down {
        color: currentColor;
    }
}

@include tablet {
    .wrapper {
        padding: $padding-8 $padding-30;
    }
}
