@import 'src/scss/base';

.wrapper {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        gap: 20px 0;
        .image {
            width: 64px;
            height: 40px;
        }
        .description {
            font-size: 14px;
            color: $color-gray-500;
        }
    }
}
